
.callbackForm{
    font-size: 1.5rem;
    background-color: blueviolet;
    padding: 25px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

 .content_area .callbackForm .input_div{
    display: flex;
    justify-content: space-between;

    /* gap: 10px; */
} 

 .content_area .input_div input{
    width: 60%;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
}

.content_area .input_div select{
    font-size: 1.3rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;

}
.content_area textarea{
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
}
.content_area button{
    font-size: 1.3rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}


.callbacks{
    /* margin-top: 90px; */
    /* border: 4px solid white; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.callbacks table{
    background-color: blueviolet;
    border-radius: 15px;
}
.callbacks table th, .callbacks table td{
    font-size: 1.2rem;
    padding: 10px;
} 
.callbacks table tbody tr td button{
    font-size: 1.2rem;
    padding: 3px 15px;
}

.applicationId{
    background-color: blueviolet;
    padding: 25px;
    border-radius: 10px;

}
.applicationId button{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;

    margin-top: 10px;
}