/* Content area */
.content_area .form{
    background-color: blueviolet;
    padding: 35px;
    /* border: 1px solid white; */
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px ;
}

.content_area .form pre{
    font-size: 1.5rem;
}

.paymentInp{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.content_area .form select{
    font-size: 1.5rem;
    width: 40%;
    border: none;
    border-radius: 5px;
    /* padding: 0 20px; */
    text-align: center;
}
.content_area .form button{
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    margin-top: 10px;
    padding: 4px;
    border-radius: 5px;
}



