
.content_area .preBillBtn{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px  20px;
    cursor: pointer;
    width: 100%;
    text-align: start;
}


.modle{
    position: fixed;
    z-index: 1000;

    font-size: 1.3rem;
    background-color: blueviolet;
    padding: 25px;
    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modle .modle_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}