.billsContainer{
    width:30% ;
    /* height: 75%; */
    max-height: 75%;
    /* border: 2px solid red; */
    /* max-height: 100px; */
    overflow-y: auto;
    background-color: white;
    border-radius: 15px;


}
.bills{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    text-align: start;
    /* max-height: 100px; */
    
}

.bills .eachItem{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
   
}
.preBillBtn{
    text-align: start;
    font-weight: 500;
    background-color: rgb(200, 200, 200);
    width: 70%;
}
.viewBillBtn{
    width:30%;
    font-weight: 600;
}

.modle{
    position: fixed;
    z-index: 1000;

    font-size: 1.3rem;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modle .modle_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

